:root {
	--main-color: #ff7400; /* основной цвет */
	--choice-color: #ff740019; /* подсветка константных величин и select 10%*/
	--box-shadow-color: #ff740050; /* тень 30%*/
	--background-color: white;
}

.calcOma-widget {
	display: grid;
	grid-template-columns: 1fr 70px;
	gap: 10px 10px;
	padding: 10px;
	background-color: var(--background-color);
	box-shadow: 0 8px 25px 1px var(--box-shadow-color);
	max-width: 400px;

	.value-wKDFVutX,
	.factor-VU3qFQdv {
		height: 48px;
		padding: 5px 10px 5px 10px;
		border: 1px solid var(--main-color);
		border-radius: 5px;
		font-size: 23px;
		outline: none;
	}
	.value-wKDFVutX {
		width: 100%;
		color: var(--main-color);
	}
	.value-wKDFVutX::placeholder {
		color: var(--box-shadow-color);
	}
	.factor-VU3qFQdv {
		background: var(--main-color);
		color: white;
		text-align: center;
	}

	.changed {
		background: var(--choice-color) !important;
	}
	* {
		transition: all 0.5s ease;
		font-family: Roboto, sans-serif;
		box-sizing: border-box;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

@media (max-width: 600px) {
	.calcOma-widget-container span {
		font-size: 30px !important;
		height: 30px !important;
		padding-bottom: 100px !important;
	}
	.calcOma-block {
		top: -100px !important;
	}
}

@media (max-width: 460px) {
	.calcOma-widget-container span {
		font-size: 22px !important;
		height: 25px !important;
	}
}

@media (max-width: 350px) {
	.value-wKDFVutX {
		font-size: 18px !important;
	}
	.calcOma-widget-container span {
		display: none !important;
	}
	.calcOma-block {
		top: 0 !important;
	}
}

body {
	margin: 0;
	padding: 10px;
	background-color: #ff000012;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
